.feedback{
  margin-bottom: 200px;
  &__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    gap: 16px;
  }
  &__list-item{

    background-color: $black;
    border-radius: 32px;
    padding: 54px 56px 51px 50px;
  }
  &__stars-row{
    display: flex;
    gap: 5px;
    margin-bottom: 11px;
  }
  &__content{
    font-size: 36px;
    line-height: 43.2px;
    margin-bottom: 19px;
  }
  &__author{
    font-size: 24px;
    line-height: 28.8px;
    opacity: 70%;
  }
}

@include mediaMobile{
  .feedback{
    margin-bottom: 70px;
    &__list{
      grid-template-columns: repeat(1, 1fr);
    }

    &__content{
      font-size: 30px;
      line-height: 40px;
    }
    &__author{
      font-size: 20px;
      line-height: 20px;
    }
  }
}